<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>İK Sorumlusu - İş Listesi</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Kod Gemisi</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/hello">Anasayfa(İK) <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/manager-job-list">İlan Listesi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/new">İş Oluştur</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/applicants">Başvurular</a>
            </li>
            <li style="margin-top: 5px"><form th:action="@{/logout}" method="post" th:align="center">
                <input class="btn btn-primary" type="submit" value="Çıkış yap!"/>
            </form></li>

        </ul>
    </div>
</nav>
<div th:if= "${length == 0}">
    <h4 align="center" style="margin-top:20px">Oluşturulmuş ilan bulunmuyor.Oluşturmak için <a href="/new">tıklayınız.</a></h4>

</div>

<div class="card text-center" th:each="job:${listJobs}" style="width: 50%;margin:auto;">
    <div class="card-header" th:text="${job.jobTitle}"></div>
    <div class="card-body">
        <h5 class="card-title" th:text="${job.jobDescription}" ></h5>
        <span>Alınacak kişi Sayısı: </span><span class="card-text" th:text="${job.numOfHire}"></span><br><br>
        <a  class="btn btn-primary" th:href="@{'/edit/' + ${job.id}}">Güncelle</a>
        <a  class="btn btn-warning" th:href="@{'/delete/' + ${job.id}}">Sil</a>
    </div>
    <div class="card-footer text-muted" th:text="${job.lastDate}"></div>
</div>
</body>
</html>

